
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hoods-login-primary: mat-palette($mat-indigo);
$hoods-login-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hoods-login-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hoods-login-theme: mat-light-theme($hoods-login-primary, $hoods-login-accent, $hoods-login-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hoods-login-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hoods-login-primary: mat-palette($mat-indigo);
$hoods-login-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hoods-login-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hoods-login-theme: mat-light-theme($hoods-login-primary, $hoods-login-accent, $hoods-login-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hoods-login-theme);

$hoods-main-fonts: "sofia-pro", "Montserrat", "Helvetica Neue", sans-serif;
$hoods-secondary-fonts: "Playfair Display", "Georgia", serif;

$hoods-title-color: rgb(236, 108, 48);
$hoods-button-color: rgb(236, 108, 48);
$hoods-button-highlight: rgb(247, 202, 194);
$hoods-white-color: rgb(255, 255, 255);
$hoods-black-color: rgb(61, 61, 61);
$hoods-gray-color: rgb(112, 112, 112);

// Responsive breaking points
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

$mobile-map-height: 250px;

$divider-pattern: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ff7000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

/* You can add global styles to this file, and also import other style files */
html{
    max-width: 100%;
    text-rendering: geometricPrecision;
}
html, body { height: 100%; background-color: rgb(236, 236, 236) }
body {
    margin: 0;
    font-family: $hoods-main-fonts;
    line-height: 200%;
    font-size: 16px;
    color: $hoods-black-color;
    //overflow-x: hidden;
    //min-width: 1000px;
}

button{
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
