<!-- Global page content -->

<button mat-button [matMenuTriggerFor]="menu">Test</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/login" routerLinkActive="active">Login</button>
  <button mat-menu-item routerLink="/register" routerLinkActive="active">Register</button>
  <button mat-menu-item routerLink="/userinformation" routerLinkActive="active">Additional Info</button>
  <button mat-menu-item routerLink="/profile" routerLinkActive="active">Profile</button>
</mat-menu>

<!-- Here we will load the current view: -->
<router-outlet></router-outlet>
