@import '../styles.scss';


.test{
    max-width: 100%;
    display: inline-flex;
    margin: auto;
    width: 20%;
    color: whitesmoke;
    background-color: $hoods-title-color;
}

.test:hover{
    color: $hoods-black-color;
    background-color: $hoods-button-highlight !important;
}