<div class="spacer"></div>
<section id=content>
    <div id="loginBox">
        <form id="loginForm" name="loginForm">
            <h1>Login</h1>
            <div id="loginIn"><h3>Username:</h3><input id="usernameField" type="text"></div>
            <div id="loginIn"><h3>Password:</h3><input id="passwordField" type="password"></div>
            <div id="loginButtons">
                <button type="submit">Login</button>
                <button routerLink="/register" routeLinkActive="active" id="registerButton">Register</button>
            </div> 
        </form>
    </div>
</section>